@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');
body {
  font-family: Lato, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  height: 56px;
  border: 1px solid #ececec;
  background-color: #ffffff;
}
nav ul {
  margin: 0 auto;
  width: 680px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
nav ul li {
  height: 56px;
}
nav ul li a {
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  display: block;
  padding: 17px 10px;
}
nav ul a:hover,
nav ul li:nth-child(1) a {
  border-bottom: 3px solid #ef5b70;
}
.headerImgBlock {
  background-color: #e8e8e8;
}
.headerImg {
  height: 665px;
  background-image: url(../img/Layer_24.jpg);
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1142px;
  color: #222222;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 40px;
}
.headerImg .headImgText {
  position: relative;
  top: 224px;
  padding-left: 10px;
  border-left: 12px solid #f16d7f;
}
.headerImg .headImgText .theBrand {
  font-size: 60px;
  letter-spacing: 1.5px;
}
.headerImg .headImgText .fashion {
  color: #f16d7f;
}
main {
  margin: 0 auto;
  width: 1142px;
}
.category {
  column-count: 2;
  margin-top: 98px;
}
.category div {
  position: relative;
  margin-bottom: 20px;
}
.category .sale {
  position: absolute;
  left: 0;
  top: 26px;
  background: #ffffff;
  color: #222222;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.45px;
  padding: 12px 16px;
}
.category .sale p {
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px;
}
.feturedItems {
  margin: 70px 0 60px 0;
  text-align: center;
}
.feturedItems h1 {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
}
.feturedItems p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}
.product {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-top: 50px;
}
.product a {
  text-decoration: none;
  margin-bottom: 39px;
  max-width: 23%;
}
.product a:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.product figure {
  position: relative;
  overflow: hidden;
}
.product figure img {
  width: 100%;
}
.product figcaption {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 13px 20px;
  max-width: 261px;
  overflow: hidden;
}
.product figcaption p {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 13px;
}
.product .shadowHover {
  position: absolute;
  top: 0;
  background-image: url(../img/product/Background.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  overflow: hidden;
}
.product .shadowHover .addToCart {
  border: 1px solid #fff;
  position: absolute;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  align-items: stretch;
  margin-top: 98px;
  padding: 10px 10px 10px 10px;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.product .shadowHover .addToCart:before {
  content: url(../img/product/Forma_1_copy.png);
}
.product a:hover .shadowHover {
  display: flex;
}
.browseAll {
  display: block;
  margin: 0 auto;
  padding: 11px 19px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  border: none;
}
.browseAll i {
  font-size: 14px;
}
.banner {
  height: 529px;
  margin: 113px 0 97px 0;
}
.bannerImg {
  background: url(../img/Layer_38.jpg) no-repeat;
  height: inherit;
  width: 767px;
  border-right: 1px solid #222224;
  float: left;
  position: relative;
}
.bannerImg div {
  font-size: 54px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #ffffff;
  position: absolute;
  top: 146px;
  left: 36px;
}
.bannerImg div .pink {
  color: #f16d7f;
}
.bannerImg div p {
  font-size: 32px;
  letter-spacing: 0.9px;
}
.bannerDiscription {
  height: inherit;
  background: #222224;
  padding: 47px 40px 48px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bannerDiscription .discription {
  padding-left: 78px;
}
.bannerDiscription .discription h2 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.bannerDiscription .discription p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 24px;
}
.bannerDiscription .discription1 {
  background: url(../img/Forma_1111.png) no-repeat;
}
.bannerDiscription .discription2 {
  background: url(../img/Forma_11111.png) no-repeat;
}
.bannerDiscription .discription3 {
  background: url(../img/Forma_1111111.png) no-repeat;
}
