@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');
body {
  font-family: Lato, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  height: 56px;
  border: 1px solid #ececec;
  background-color: #ffffff;
}
@media (max-width: 590px) {
  .nav {
    height: auto;
  }
}
.nav ul {
  margin: 0 auto;
  width: 680px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
@media (max-width: 700px) {
  .nav ul {
    width: auto;
    padding: 0 10px;
  }
}
@media (max-width: 590px) {
  .nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.nav ul li {
  height: 56px;
}
.nav ul li a {
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  display: block;
  padding: 17px 10px;
}
.nav ul a:hover,
.nav ul li:nth-child(2) a {
  border-bottom: 3px solid #ef5b70;
}
.newArrivalsBlock {
  background-color: #f8f3f4;
}
.newArrivals {
  width: 1142px;
  height: 148px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1142px) {
  .newArrivals {
    padding: 0 10px;
    width: auto;
  }
}
.newArrivals p {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}
.newArrivals nav {
  font-size: 14px;
  text-transform: uppercase;
  color: #636363;
  font-weight: 300;
}
.newArrivals nav span {
  font-weight: 700;
  color: #f16d7f;
}
/*____________***********____________MAIN______________***********__________*/
.h3-style {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.container {
  width: 1142px;
  margin: 0 auto;
  display: flex;
}
main {
  padding-top: 55px;
}
.navProduct details {
  width: 180px;
  line-height: 37px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  background: url(../img/product_bootstrap/str_gray.png) no-repeat 160px 17px;
}
.navProduct details[open] {
  background: url(../img/product_bootstrap/str.png) no-repeat 160px 17px;
}
.navProduct details[open] summary {
  color: #ef5b70;
}
.navProduct details div {
  padding-left: 10px;
}
.navProduct details summary {
  padding-left: 11px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid lightgrey;
}
.navProduct details summary::-webkit-details-marker {
  display: none;
}
.productBlock {
  margin-left: 30px;
}
.productFilter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productFilter .h3-style {
  font-size: 20px;
  margin-bottom: 8px;
}
.productFilter div div {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
}
.productFilter .trendingNow {
  width: 24%;
}
.productFilter .trendingNow div {
  display: flex;
  flex-wrap: wrap;
}
.productFilter .trendingNow p {
  margin-top: 8px;
}
.productFilter .trendingNow .border-grey {
  height: 20px;
  outline: 1px solid lightgrey;
  margin: 8px 15px 0 15px;
}
.productFilter .size {
  width: 24%;
}
.productFilter .size div {
  display: flex;
  flex-wrap: wrap;
}
.productFilter .size div label {
  width: 25%;
  margin-top: 8px;
}
.productFilter .size div label input {
  margin-right: 8px;
}
.productFilter .price {
  width: 30%;
}
.productFilter .price .price-interval {
  display: flex;
  justify-content: space-between;
}
.dataBlock {
  margin: 40px 0 0 0;
  background-color: #f3f3f3;
  padding: 10px;
}
.dataBlock select,
.dataBlock button {
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
}
.dataBlock select {
  margin-left: -5px;
}
.dataBlock button {
  margin-left: 10px;
}
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 48px 0 0 0;
}
.product a {
  text-decoration: none;
  margin-bottom: 20px;
  cursor: default;
}
.product a:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.product figure {
  position: relative;
  min-width: 261px;
}
.product figcaption {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 13px 0;
  overflow: hidden;
}
.product figcaption p {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px 0 20px 0;
}
.product .shadowHover {
  position: absolute;
  top: 0;
  background: url(../img/product/Background.png) no-repeat;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
}
.product .shadowHover .addToCart {
  border: 1px solid #fff;
  position: absolute;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  align-items: stretch;
  margin-top: 98px;
  padding: 10px 10px 3px;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.product .shadowHover .addToCart:active {
  border-color: #fff;
  color: #fff;
}
.product .shadowHover .addToCart:hover {
  border-color: #ef5b70;
  color: #ef5b70;
}
.product .shadowHover .addToCart:focus {
  outline: none;
}
.product .shadowHover .addToCart:before {
  content: url(../img/product/Forma_1_copy.png);
}
.product a:hover .shadowHover {
  display: flex;
}
nav[aria-label] {
  color: #ef5b70 !important;
  margin-left: 45px;
}
nav[aria-label] .page-link {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  padding: 5px 8px;
}
nav[aria-label] .page-link:hover,
nav[aria-label] .page-link:focus {
  color: #ef5b70;
}
nav[aria-label] ul li:nth-child(2) a {
  color: #ef5b70;
}
.paginationViewAll {
  display: flex;
  justify-content: space-between;
}
.pagination {
  list-style-type: none;
  display: flex;
}
.pagination li {
  border: 1px solid #dee2e6;
}
.pagination li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pagination li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.pagination li a {
  display: block;
  text-decoration: none;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 7px;
}
.pagination li a:hover {
  background-color: #d6d6d6;
  color: #ef5b70;
}
.pagination li a:focus {
  background-color: #d6d6d6;
  color: #ef5b70;
}
.viewAll {
  padding: 0px 43px;
  text-decoration: none !important;
  display: block;
  color: #ef5b70;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  width: 150px;
  height: 44px;
  line-height: 42px;
}
.viewAll:hover {
  background-color: #ef5b70;
  color: #fff;
}
.bannerDiscriptionBlock {
  margin-top: 100px;
  background: #222224;
  height: 341px;
}
.bannerDiscriptionBlock .bannerDiscription {
  display: flex;
  justify-content: space-between;
  width: 1142px;
  margin: 0 auto;
}
.bannerDiscriptionBlock .bannerDiscription .discription {
  width: 33%;
  margin-top: 8%;
  padding-top: 50px;
  text-align: center;
}
.bannerDiscriptionBlock .bannerDiscription .discription h2 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.bannerDiscriptionBlock .bannerDiscription .discription p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 24px;
}
.bannerDiscriptionBlock .bannerDiscription .discription1 {
  background: url(../img/Forma_1111.png) no-repeat 50% 0;
}
.bannerDiscriptionBlock .bannerDiscription .discription2 {
  background: url(../img/Forma_11111.png) no-repeat 50% 0;
}
.bannerDiscriptionBlock .bannerDiscription .discription3 {
  background: url(../img/Forma_1111111.png) no-repeat 50% 0;
}
